@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

:root {
    --box-shadow: 0px 15px 30px 0px rgba(63, 42, 146, 0.08);
    --white: rgba(255, 255, 255, 0.8);
    --font-family: "Work Sans";
}

body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: var(--font-family);
    /* cursor: url("./images/batarang1.png") 16 16, auto; */
    cursor: none;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
#custom-cursor {
    position: absolute;
    width: 50px; /* Adjust to match your Batarang image size */
    height: 50px;
    background: url("./images/batarang.png") no-repeat center center;
    background-size: contain;
    pointer-events: none; /* Ensure it doesn't block interactions */
    transform-origin: center;
}

#custom-cursor.spinning {
    animation: spin 0.7s linear infinite;
}

#container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    height: 100vh;
    width: 100vw;
    background-image: url("./images/background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
}

#board {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
    width: 460px;
    height: 460px;
    border-radius: 28px;
    border: 2px solid black;
    box-shadow: var(--box-shadow);
    background-image: url("./images/grey.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

#board div {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    width: 145px;
    height: 145px;
    background-image: url("./images/door.png");
    background-size: cover;
}

#board div img {
    width: 100px;
    height: 128px;
    pointer-events: none;
    user-select: none;
}

#restart {
    padding: 10px 18px;
    border-radius: 15px;
    border: 1px solid black;
    box-shadow: var(--box-shadow);
    background-color: #39464c;
    color: antiquewhite;
    transition: 0.5s ease all;
    opacity: 0;
    pointer-events: none;
}

#restart.active {
    opacity: 1;
    pointer-events: all;
}

#restart:hover {
    transform: scale(0.95);
}

h1,
h2 {
    color: antiquewhite;
    margin: 0;
}
