@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

:root {
    --box-shadow: 0px 15px 30px 0px rgba(63, 42, 146, 0.08);
    --white: rgba(255, 255, 255, 0.8);
    --font-family: "Work Sans";
}

body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: var(--font-family);
}

#container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    height: 100vh;
    width: 100vw;
    background-image: url("./images/background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

#board {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
    width: 540px;
    height: 540px;
    border-radius: 28px;
    border: 2px solid var(--white);
    box-shadow: var(--box-shadow);
    background-image: url("./images/monsters.jpg");
    background-size: contain;
    background-position: center;
}

h1 {
    margin: 0;
}

#board div {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    width: 170px;
    height: 170px;
    background-image: url("./images/door.png");
    background-size: 180px;
    background-position: center;
}

#board div img {
    width: 120px;
    height: 150px;
    user-select: none;
    -webkit-user-drag: none;
}

#restart {
    padding: 10px 18px;
    border-radius: 15px;
    border: 1px solid black;
    cursor: pointer;
    box-shadow: var(--box-shadow);
    opacity: 0;
    background-color: white;
    pointer-events: none;
    transition: 0.5s ease all;
}

#restart.active {
    opacity: 1;
    pointer-events: all;
}

#restart:hover {
    transform: scale(0.95);
}
